<a href="https://colab.research.google.com/github/williamharefa/StudentProject1/blob/main/StudentProject1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error

In [9]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [10]:
filename = '/content/drive/MyDrive/Training/datasets/Salary_dataset.csv'
dsalary=pd.read_csv(filename)
dsalary.head()

   No  YearsExperience   Salary
0   0              1.2  39344.0
1   1              1.4  46206.0
2   2              1.6  37732.0
3   3              2.1  43526.0
4   4              2.3  39892.0

In [13]:
dsalary = dsalary.set_index('No')

In [14]:
dsalary.head()

    YearsExperience   Salary
No
0               1.2  39344.0
1               1.4  46206.0
2               1.6  37732.0
3               2.1  43526.0
4               2.3  39892.0

In [16]:
dsalary.size

60

In [17]:
dsalary.shape

(30, 2)

In [19]:
dsalary.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 720.0 bytes

In [20]:
dsalary.describe()

       YearsExperience         Salary
count        30.000000      30.000000
mean          5.413333   76004.000000
std           2.837888   27414.429785
min           1.200000   37732.000000
25%           3.300000   56721.750000
50%           4.800000   65238.000000
75%           7.800000  100545.750000
max          10.600000  122392.000000